
---
import Layout from "../layouts/Layout.astro";
import NavBlack from "../components/NavBlack.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="privacidad">
  <NavBlack />
  <div style="padding: 40px 60px;">
    <div>
      <main>
        <section>
          <div>
            <h1 class="font-bold text-3xl mb-4 titleSection">
              <b>Política de Privacidad</b>
            </h1>
            <p>
              <span style="font-weight: 400">
                Integra Meetings ("nosotros", "nuestro" o "nos") está comprometido a proteger tu privacidad. Esta Política de Privacidad explica cómo se recopila, utiliza y divulga tu información personal por parte de Integra Meetings.
              </span>
            </p>
            <p>
              <span style="font-weight: 400">
                Esta Política de Privacidad se aplica a nuestro sitio web,
              </span>
              <a href="https://integrameetings.com/index-english.html">
                <span style="font-weight: 400">
                  https://integrameetings.com/
                </span>
              </a>
              <span style="font-weight: 400">
                y sus subdominios asociados (colectivamente, nuestro "Servicio"). Al acceder o utilizar nuestro Servicio, declaras que has leído, comprendido y aceptas la recopilación, almacenamiento, uso y divulgación de tu información personal como se describe en esta Política de Privacidad y nuestros Términos de Servicio.
              </span>
            </p>
            <h2 class="font-bold text-3xl mb-4 mt-4">
              <b>Definiciones y términos clave</b>
            </h2>
            <p>
              <span style="font-weight: 400">
                Para ayudar a explicar las cosas de la manera más clara posible en esta Política de Privacidad, cada vez que se mencionen estos términos, estarán estrictamente definidos como:
              </span>
            </p>
            <ul style="list-style:circle;">
              <li><b>Cookie:</b> Pequeña cantidad de datos generados por un sitio web y guardados por tu navegador web. Se utiliza para identificar tu navegador, proporcionar análisis, recordar información sobre ti como tu preferencia de idioma o tu inicio de sesión.</li>
              <li><b>Compañía:</b> Cuando esta política menciona "Compañía," "nosotros," "nuestro" o "nos," se refiere a Integra Meetings, que es responsable de tu información bajo esta Política de Privacidad.</li>
              <li><b>Dispositivo:</b> Cualquier dispositivo conectado a Internet como un teléfono, tablet, computadora o cualquier otro dispositivo que se pueda usar para visitar Integra Meetings y utilizar los servicios.</li>
              <li><b>Datos Personales:</b> Cualquier información que directa, indirectamente o en conexión con otra información, incluyendo un número de identificación personal, permita la identificación o identificabilidad de una persona física.</li>
              <li><b>Servicio:</b> Se refiere al servicio proporcionado por Integra Meetings como se describe en los términos relativos (si están disponibles) y en esta plataforma.</li>
              <li><b>Terceros:</b> Se refiere a anunciantes, patrocinadores promocionales y socios de marketing, quienes proporcionan contenido o cuyos productos o servicios creemos que pueden interesarte.</li>
              <li><b>Nosotros:</b> Integra Meetings como se mencionó en esta política.</li>
              <li><b>Usted:</b> Una persona o entidad que está registrada en Integra Meetings para utilizar los Servicios.</li>
            </ul>
            <h2 class="font-bold text-3xl mb-4 mt-4">
              <b>Recopilación y uso de tu información personal</b>
            </h2>
            <p><span style="font-weight: 400">Recopilamos varios tipos de información con diferentes propósitos para brindarte y mejorar nuestro Servicio.</span></p>
          </div>
