---
// Importa Layout y ImageHeader
import Layout from "../layouts/Layout.astro";
import ImageHeader from "../components/ImageHeader.astro";

// Importa Swiper CSS
import "swiper/swiper-bundle.css";
---

<style>
  .swiper-container{
    overflow-x: hidden;
  }
</style>

<Layout title="Integra Meetings EU">
  <main>
    <header>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ImageHeader
            imageUrl="https://fotografias.lasexta.com/clipping/cmsimages02/2019/09/13/0BA0E852-A934-48F5-AF72-33053D0DA773/98.jpg?crop=1300,731,x0,y19&width=1900&height=1069&optimize=high&format=webply"
            text="Maximize the success and profitability of your events with Integra Meetings. We are experienced experts in medical conferences, corporate conventions and B2B exhibitions. We believe in freeing up our clients time to focus on the essentials while we take care of the rest."
            title="Integra Meetings"
          />
          </div>
          <div class="swiper-slide">
            <ImageHeader
          imageUrl="https://www.apple.com/newsroom/images/tile-images/Apples-keynote-event_tim_cook_03252019.jpg.og.jpg?202408211741"
          text="Maximize the success and profitability of your events with Integra Meetings. We are experienced experts in medical conferences, corporate conventions and B2B exhibitions. We believe in freeing up our clients time to focus on the essentials while we take care of the rest."
          title="Integra Meetings"
        />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </header>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem modi est minima, eius laudantium ad quidem laboriosam iure sequi labore. Sit quae voluptates nostrum? Enim molestias laudantium ducimus ratione nulla.
    </p>
  
  </main>
</Layout>

<script>
  // Importa Swiper y sus módulos
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  const swiper = new Swiper(".swiper-container", {
    modules: [Navigation, Pagination],
    autoplay:true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    slidesPerView: 1,
  });


</script>
