---
const { imageUrl, title, color, url } = Astro.props;
---

<a
  href={url}
  class="CardLarge relative w-full flex items-center p-4"
  style={`background-image: url(${imageUrl});`}
>
  <!-- Degradado delante de la imagen pero detrás del texto -->
  <div
    class="gradientOverlay absolute inset-0"
    style={`background: linear-gradient(-90deg, transparent, rgba(${color}, 0.7))`}
  >
  </div>
  <p class="textCard font-bold text-xl md:text-2xl text-white relative z-10">
    {title}
  </p>
</a>

<style>
  .CardLarge {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 300px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    text-decoration: none; /* Elimina el subrayado del texto en los enlaces */
  }

  .gradientOverlay {
    transition: opacity 200ms linear;
    opacity: 0;
  }

  .textCard {
    margin-left: 10px;
    transition: all 200ms linear;
  }

  .CardLarge:hover .textCard {
    transform: translateX(30px) scale(1.1);
  }

  .CardLarge:hover .gradientOverlay {
    opacity: 1;
  }

  @media screen and (min-width: 720px) {
    .CardLarge {
      height: 260px;
    }
  }
</style>
