---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Integra Meetings - Maximize the success and profitability of your events with Integra Meetings. We are experienced experts in medical conferences, corporate conventions and B2B exhibitions. We believe in freeing up our clients time to focus on the essentials while we take care of the rest."
    />
    <meta
      property="og:title"
      content="Integra Meetings - Creative event solutions"
    />
    <meta
      property="og:description"
      content="At Integra Meetings, we combine innovation and experience to deliver tailormade event solutions. Our professional, modern, and personalized approach ensures exceptional results in every project."
    />
    <meta
      property="og:image"
      content="https://github.com/Integra-Meetings/integraMeetingsImagenes/blob/main/ourCompress.png"
    />
    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Integra Meetings - Event Production" />
    <meta
      name="twitter:description"
      content="At Integra Meetings, we combine innovation and experience to deliver tailormade event solutions. Our professional, modern, and personalized approach ensures exceptional results in every project."
    />
    <meta
      name="twitter:image"
      content="https://github.com/Integra-Meetings/integraMeetingsImagenes/blob/main/ourCompress.png"
    />
    <meta property="og:url" content="https://integrameetings.com/" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"
    ></script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
</style>
